body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

input, textarea, button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

button:hover {
    background-color: rgb(85, 85, 243);
}

.error {
  color: red;
  margin-top: 10px;
}
